.App {
  background-color: #f1dec9;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  border-radius: 50px;
}
.App__header {
  max-width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
.App__header h1 {
  color: #a4907c;
}
.App__header h2 {
  color: #c8b6a6;
}
.App__section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.App__article {
  max-width: 900px;
  margin: 0 auto;
}
.App__form {
  padding-bottom: 1rem;
}
.App__form-input {
  color: #a4907c;
  margin-right: 0.5rem;
}
#buttons {
  display: flex;
  gap: 20px;
}
.App__button-create {
  background-color: #c8b6a6;
}
.App__button-delete {
  background-color: #eb455f;
}
.App__button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.App__output {
  margin-bottom: 15px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.App__output > p {
  display: block;
  position: relative;
}

.App__output-complete > p::before {
  content: "";
  position: absolute;

  background-color: red;
  text-decoration: line-through;
  height: 2px;
  width: -webkit-fill-available;
  top: 48%;
}
